# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**

- List popular languages for Data Science
- Create a Table
- Create and Ordered list
- Create and Unordered list
- Use H3 style heading

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Sql
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|R Studio          |
|Git/GitHub        |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [2]:
print((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [8]:
print(str(200/60) + " " + "hours")

3.3333333333333335 hours

## Author

Namoog Moses Yinzor